<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/product.css" />

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <main>
      <% if(errorMessage) {%>
      <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
      <form
        class="product-form"
        action="/admin/<% if (editting) {%>edit-product<% } else { %>add-product<% } %>"
        method="POST"
      >
        <div class="form-control">
          <label for="title">Title</label>
          <input
            class="<%= validationError.find(e => e.path == 'title') ? 'invalid' : '' %>"
            type="text"
            name="title"
            id="title"
            value="<% if (editting || hasError) { %> <%=prod.title%> <% } else { %>  <% } %>"
          />
        </div>
        <div class="form-control">
          <label for="imageUrl">Image URL</label>
          <input
          class="<%= validationError.find(e => e.path === 'imageUrl') ? 'invalid' : '' %>"

            type="text"
            name="imageUrl"
            id="imageUrl"
            value="<% if (editting || hasError) { %> <%=prod.imageUrl%> <% } else { %>  <% } %>"
          />
        </div>
        <!-- <div class="form-control">
          <label for="image">Image</label>
          <input type="file" name="image" id="image" />
        </div> -->
        <div class="form-control">
          <label for="price">Price</label>
          <input
            class="<%= validationError.find(e => e.path === 'price') ? 'invalid' : '' %>"
            type="number"
            name="price"
            id="price"
            step="0.01"
            value="<% if (editting || hasError) { %><%= prod.price %><% } else { %>  <% } %>"
          />
        </div>
        <div class="form-control">
          <label for="description">Description</label>
          <textarea
            class="<%= validationError.find(e => e.path === 'description') ? 'invalid' : '' %>"
            name="description"
            id="description"
            rows="5"
          >
<% if (editting || hasError) { %> <%= prod.description %> <% } else { %>  <% } %></textarea
          >
        </div>
        <% if (editting) { %>
        <input
          type="hidden"
          name="productId"
          id="productId"
          value="<%=prod._id%>"
        />
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn" type="submit">
          <% if (editting === 'true') { %> Update Product <% } else { %> Add
          Product <% } %>
        </button>
      </form>
    </main>
    <%- include('../includes/end.ejs') %>
  </main>
</body>
